// Mixins
// Background Cover Mixin
@mixin background-cover {
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

// Font Mixins
@mixin body-font {
  font-family: 'Source Sans Pro';
}
