  <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="description" content="">
  <meta name="author" content="">

  <title>#CiPassaLaFame</title>

  <link rel="stylesheet" type="text/css" href="{{ "/vendor/bootstrap/css/bootstrap.min.css"  | prepend: site.baseurl  }}" />

  <link rel="stylesheet" type="text/css" href="{{ "/vendor/fontawesome-free/css/all.min.css"  | prepend: site.baseurl  }}" />
  <link rel="stylesheet" type="text/css" href="{{ "/css/stylish-portfolio.css"  | prepend: site.baseurl  }}" />

  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <link href="https://fonts.googleapis.com/css?family=Aleo" rel="stylesheet">
  <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

  <style>

  body {
      font-family: 'Aleo', serif;
  }
  </style>

    <!-- sharing -->
    <meta property="og:image" content="https://cipassalafame.it/og.jpg">
    <meta property="og:url" content="https://cipassalafame.it/">
    <meta property="og:title" content="#CiPassaLaFame - A digiuno per i diritti dei migranti">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="#CiPassaLaFame - A digiuno per i diritti dei migranti">
    <meta name="twitter:image" content="https://cipassalafame.it/og.jpg">
    <!-- sharing -->

  </head>